 .outletApagado{ 
	background-image: url("/imagenes/outletApagado.png"); 
	height:100%;
	width:auto;
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center; 
	}

.outletPrendido{ 
	background-image: url("/imagenes/outletPrendido.png");
	height:100%;
	width:auto;
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center; 

	}
.editar{ 
	background-image: url("/imagenes/edit.png");
        width: 100%;
        height: 100%;
        background-size: 80% 80%;
        background-repeat: no-repeat;
	background-position: center;
	}
body{
	background-color:#31302b;
	}

/*-------
table{
	width:100%;
	height:30%;
	border:10px solid #454440;
	border-collapse: collapse;
	border-spacing: 0;
	border-radius:4px;
	font-family: 'Open Sans', sans-serif;	
	text-transform: uppercase;
	font-weight: bold;
	padding:10px;
	}
table thead{
	border:none;
	}
table thead tr {
	background-color: #1abc9c;
	color: #fff;
	//border:3px solid #1abc9c;
	border-style: none;
}
table th{
	border:none;
	}
table td{
	border:none;
	background-color:white;
	}

*/
/*----------------*/

table{
	width:100%;
	height:35%;
	//border:10px solid #454440;
	border-collapse: collapse;
	//border-radius:4px;
	font-family: 'Open Sans', sans-serif;	
	text-transform: uppercase;
	font-weight: bold;
	font-size : 25;
	padding:10px;
	border-spacing: 0px 15px;
    	border-collapse: separate;
	text-align: center;
	}
table thead{
	border:none;
	font-size : 40;

	}
table thead tr {
	background-color: #1abc9c;
	color: #fff;
	//border:3px solid #1abc9c;
	border-style: none;
}

table tbody  tr td:last-child {
    border-radius: 0 10px 10px 0;
}
table tbody tr td:first-child {
    border-radius: 0 0 0 10px;
}

table th{
	border:none;
	
	}
table td{
	border:none;
	background-color:white;
	 
	}

select{
	text-transform: uppercase;
	font-size : 25;
}
input{
	//text-transform: uppercase;
	font-size : 25;
}

button{
      margin-top: 15px;
      width: 270px;
      text-align: center;
      font-size: 14px;
      font-family: 'Open Sans',sans-serif;
      font-weight: bold;
      padding: 12px 0;
      letter-spacing: 0;
      box-shadow: inset 0px 0px 0px 0px #1abc9c;
      color: #fff;
      background-color: #16a085;
      text-shadow: none;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      position: relative;
      margin-bottom: 20px;
      -webkit-animation: shadowFadeOut 0.4s;
      -moz-animation: shadowFadeOut 0.4s;
      padding-rigth:20px;
      padding-left: 20px;
}
button:hover {
      color: #fff;
      box-shadow: inset 0px 46px 0px 0px #1abc9c;
      -webkit-animation: shadowFade 0.4s;
      -moz-animation: shadowFade 0.4s;
      }

/* === Login styles === */
      .login {
      position: relative;
      margin: 100px auto;
      width: 80vw;
      height: 80vw;
      background: white;
      border-radius: 3px;
      }
      .login:before {
      content: '';
      position: absolute;
      top: -8px;
      right: -8px;
      bottom: -8px;
      left: -8px;
      z-index: -1;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      }
      .login h1 {
      line-height: 130px;
      font-size: 110px;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      background: #1abc9c;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      }
      .login .submit {
      text-align: center;
      }
      .login p:first-child {
      margin-top: 30px;
      }
      .login p .remember {
      float: left;
      }
      .login p .remember label {
      color: #a7a599;
      font-size: 12px;
      cursor: pointer;
      }
      .login p .forgot {
      float: right;
      margin-right: 50px;
      }
      .login p .forgot a {
      color: #a7a599;
      font-size: 12px;
      text-decoration: none;
      font-style: italic;
      transition: all 0.3s ease-out;
      }
      .login p .forgot a:hover {
      color: #f2672e;
      }
/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      /*still in the works :P*/
      /*variables*/
      /*general style*/
      /*google font*/
      @import "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700)";
      body {
      font: 13px/20px "Open Sans", Tahoma, Verdana, sans-serif;
      color: #a7a599;
      background: #31302b;
      }
      /*Login form style*/
      /* === Logo === */
      .logo {
      background-position: center;
      height: 60px;
      width: 140px;
      margin: 100px auto 30px auto;
      }
      /* === Form === */
      .form {
      width: 100%;
      }
      .form .field {
      position: relative;
      margin: 0 50px;
      }
      .form .field .fa-user {	
      background-image: url("/imagenes/username.png");
      background-size: 70% 70%;
      background-repeat:no-repeat;
      background-position: center;
      }
      .form .field .fa-lock {	
      background-image: url("/imagenes/password.png");
      background-size: 70% 70%;
      background-repeat:no-repeat;
      background-position: center;
      }
      .form .field i {
      font-size: 75px;
      left: 0px;
      top: 0px;
      position: absolute;
      height: 15vw;
      width: 15vw;
      color: #f7f3eb;
      background: #676056;
      text-align: center;
      line-height: 44px;
      transition: all 0.3s ease-out;
      pointer-events: none;
      margin-top: 5vw;
      }
      /*input style*/
      /* === Input Form === */
      ::-webkit-input-placeholder {
      color: #ded9cf;
      font-family: 'Open Sans';
      text-indent:17vw;
      }
      :-moz-placeholder {
      color: #ded9cf !important;
      font-family: 'Open Sans';
      text-indent:17vw;
      }
      .form input[type=text], input[type=password] {
      margin-top: 5vw;
      font-family: 'Open Sans', Calibri, Arial, sans-serif;
      font-size: 75px;
      font-weight: 400;
      position: relative;
      width: 65vw;
      height: 15vw;
      color: #676056;
      border: none;
      background: #f7f3eb;
      color: #777;
      transition: color 0.3s ease-out;
      margin: 10px 0px 10px 0px;
      text-indent:17vw;
      }
      .form input[type=text] {
      margin-top:5vw;
      }
      .form input[type=password] {
      margin-top:5vw;
      }
      .form input[type=text]:hover ~ i,
      .form input[type=password]:hover ~ i {
      color: #27ae60;
      }
      .form input[type=text]:focus ~ i,
      .form input[type=password]:focus ~ i {
      color: #27ae60;
      }
      .form input[type=text]:focus,
      .form input[type=password]:focus,
      .form button[type=submit]:focus {
      outline: none;
      }
      .form input[class=submit] {
      margin-top: 5vw;
      width: 40vw;
      text-align: center;
      font-size: 65px;
      font-family: 'Open Sans',sans-serif;
      font-weight: bold;
      padding: 12px 0;
      letter-spacing: 0;
      box-shadow: inset 0px 0px 0px 0px #1abc9c;
      color: #fff;
      background-color: #16a085;
      text-shadow: none;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      position: relative;
      margin-bottom: 20px;
      -webkit-animation: shadowFadeOut 0.4s;
      -moz-animation: shadowFadeOut 0.4s;
      }
      .form input[class=submit]:hover, input[class=submit]:focus {
      color: #fff;
      box-shadow: inset 0px 40vw 0px 0px #1abc9c;
      -webkit-animation: shadowFade 0.4s;
      -moz-animation: shadowFade 0.4s;
      }
      /*keyframes for input animation*/
      @keyframes shadowFade {
      0% {
      box-shadow: inset 0px 0px 0px 0px #1abc9c;
      color: #fff;
      }
      100% {
      box-shadow: inset 0px 40vw 0px 0px #1abc9c;
      color: #fff;
      }
      }
      @keyframes shadowFadeOut {
      0% {
      box-shadow: inset 0px 40vw 0px 0px #1abc9c;
      color: #fff;
      }
      100% {
      box-shadow: inset 0px 0px 0px 0px #1abc9c;
      color: #fff;
      }
      }
      @-webkit-keyframes shadowFade {
      0% {
      box-shadow: inset 0px 0px 0px 0px #1abc9c;
      color: #fff;
      }
      100% {
      box-shadow: inset 0px 46px 0px 0px #1abc9c;
      color: #fff;
      }
      }
      @-webkit-keyframes shadowFadeOut {
      0% {
      box-shadow: inset 0px 46px 0px 0px #1abc9c;
      color: #fff;
      }
      100% {
      box-shadow: inset 0px 0px 0px 0px #1abc9c;
      color: #fff;
      }
      }
      @-moz-keyframes shadowFade {
      0% {
      box-shadow: inset 0px 0px 0px 0px #1abc9c;
      color: #fff;
      }
      100% {
      box-shadow: inset 0px 46px 0px 0px #1abc9c;
      color: #fff;
      }
      }
      @-moz-keyframes shadowFadeOut {
      0% {
      box-shadow: inset 0px 44px 0px 0px #1abc9c;
      color: #fff;
      }
      100% {
      box-shadow: inset 0px 0px 0px 0px #1abc9c;
      color: #fff;
      }
      }
      /*continued styling for input */
      .form input[type="checkbox"] {
      display: none;
      }
      /*.form input[type="checkbox"] + label span {
      display:inline-block;
      width:16px;
      height:16px;
      margin: -2px 4px 0 50px;
      vertical-align:middle;
      background:url("../img/checkbox.png") left top no-repeat;
      cursor:pointer;
      }
      .form input[type="checkbox"]:checked + label span {
      background:url("../img/checkbox.png") -16px top no-repeat;
      }*/
      /* === Copyright === */
      .copyright {
      margin-top: 30px;
      text-align: center;
      }
      .copyright p, .copyright a {
      color: #828078;
      font-size: 12px;
      text-decoration: none;
      transition: color 0.3s ease-out;
      }
      .copyright p a:hover, .copyright a a:hover {
      color: #f2672e;
      }