html
  head
    script(src='json-to-table.js')
    style.
      .outletApagado{ background-image: url("imagenes/red.png"); width:20px;height:20px;background-size: 100% }
      .outletPrendido{ background-image: url("imagenes/green.png");width:20px;height:20px;background-size: 100% }
  body
    script.
      function httpGetAsync(theUrl, callback){
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function() {
      if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
      document.body.innerHTML = callback(JSON.parse(xmlHttp.responseText),'lista');
      }
      xmlHttp.open("GET", theUrl, true); // true for asynchronous
      xmlHttp.send(null);
      }
      httpGetAsync("https://10.105.231.63:8443/dispositivos", ConvertJsonToTable);
