html
  head
    script(src='json-to-table.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    link(rel='stylesheet', href='/style/panelDispositivos.css')
    script.
      window.addEventListener("click", validarToken);
      var xhr = new XMLHttpRequest();
      function enviarPOST(url,json){        $.ajax({
      url: url,
      type: 'POST',
      dataType: 'json',
      data: json,
      contentType: 'application/json; charset=utf-8',
      error: function (result) {
      console.log(result);
      document.body.innerHTML=result.responseText;
      },
      success: function (data) {
      console.log(data);
      if(data.message == "correcto"){
      switch (data.accion){
      case 'redirect':
      window.location.href = data.destino;
      break;
      case 'envio':
      break;
      case 'editar':
      document.body.innerHTML=result.responseText;
      console.log("editar");
      break;
      default:
      }
      }else{
      switch (data.accion){
      case 'redirect':
      alert('Usuario o Password incorrecto');
      break;
      default:
      window.location.href = '/';
      }
      }
      }        });
      }
      function validarToken(){
      console.log('paso');
      var id = (document.cookie.match(/^(?:.*;)?token=([^;]+)(?:.*)?$/)||[,null])[1];
      var token = new Object();
      token.id = id;
      var jtoken = JSON.stringify(token);
      enviarPOST("https://200.5.235.62:8443/f_validarToken",jtoken);
      }
    script.
      function cambiarEstado(id,estado){
      var dispositivo = new Object();
      dispositivo.id = id ;
      dispositivo.estado = estado;
      var jdispositivo = JSON.stringify(dispositivo);
      console.log(jdispositivo);
      enviarPOST("https://200.5.235.62:8443/f_cambiarEstado",jdispositivo);
      }
      function editarConfiguracion(id){
      var dispositivo = new Object();
      dispositivo.id = id ;
      var jdispositivo = JSON.stringify(dispositivo);
      console.log(jdispositivo);
      enviarPOST("https://200.5.235.62:8443/_editarConfiguracion",jdispositivo)
      }
    script.
      var connection = new WebSocket('wss://200.5.235.62:8443', ['soap', 'xmpp']);
      // When the connection is open, send some data to the server
      connection.onopen = function () {
      //connection.send('Ping'); // Send the message 'Ping' to the server
      };
      // Log messages from the server
      connection.onmessage = function (e) {
      console.log('Server: ' + e.data);
      var rsta = JSON.parse (e.data);
      console.log(rsta);
      switch (rsta.tipo){
      case "3":
      if(rsta.mensaje.estado == 1){
      document.getElementById(rsta.mensaje.id).className = "outletApagado";
      document.getElementById(rsta.mensaje.id).onclick = function() {cambiarEstado(rsta.mensaje.id ,"1" );}
      }else if (rsta.mensaje.estado == 0){
      document.getElementById(rsta.mensaje.id).className = "outletPrendido";
      document.getElementById(rsta.mensaje.id).onclick = function() {cambiarEstado(rsta.mensaje.id ,"0" );}
      }
      break;
      default:
      }
      };
      function popularComboDispositivos(dispositivos){
      var combo = document.getElementById("tiposDispositivos");
      console.log(dispositivos);
      for (var i = 0; i< dispositivos.length; i++) {
      var option = document.createElement("option");
      option.text = dispositivos[i];
      combo.add(option);
      }
      }
      function httpGetAsync(theUrl, callback){
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function() {
      if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
      console.log("get:" + xmlHttp.responseText);
      callback((xmlHttp.responseText));
      }
      xmlHttp.open("GET", theUrl, true); // true for asynchronous
      xmlHttp.send(null);
      }
  body(onload='validarToken();')
    script.
      function httpGetAsyncLista(theUrl, callback){
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function() {
      if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
      document.body.innerHTML = callback(JSON.parse(xmlHttp.responseText),'lista');
      }
      xmlHttp.open("GET", theUrl, true); // true for asynchronous
      xmlHttp.send(null);
      }
      httpGetAsyncLista("https://200.5.235.62:8443/dispositivos", ConvertJsonToTable);
